*, *:before, *:after {
  box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: rgb(174, 203, 230);
    
}

.wrapper {
    max-width: 940px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}

@media screen and (min-width: 500px) {
  /* Helps with grid support */
  .columnA {
    float: left;
    width: 50%;
  }

  .columnB {
    float: right;
    width: 50%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
  }

  .header, .footer {
    grid-column: 1 / -1;
    /* Needed for the floated layout */
    clear: both;
  }
}

.wrapper > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* Needed for the floated layout */
    margin-bottom: 10px;
}

/* This sets the widths used on floated items back to auto, and remove the bottom margin because grids create gaps */
@supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
}

/* Reference: https://gridbyexample.com/patterns/header-twocol-footer-responsive/*/


/* Not needed when we switch to two columns */
/* main {
  float: left;
  margin-left: 50px;
  width: 600px;
} */


.header {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


#headerImage {
  width: 900px;
  text-align: center;
}


h1 {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 52px;
      color: #3493d5;
      margin: 10px 0;
      text-align: center;
}


/* Button that GETs a new randomized meme and displays it */
#generateNewBtn {
  text-align: center;
}


/* Impacts the meme name and comments headers */
h2 {
    font-size: 25px;
    text-align: center;
}


/* All forms - impacts the meme form and comment form */
form {
  /*width: 450px;
  margin: 0 auto 50px auto;*/
  align-items: center;
  text-align: center;
}


/* Main meme image - the meme wall of shame images are created via Javascript */
img {
  /*display:block;*/
  width: 500px;
  /*margin: 0 auto 25px auto;*/
}


/* Dislike message text and like counter (like counter also has an ID) */
p {
  text-align: center;
}


/* Like, Generate Meme and Dislike buttons */
#buttonDiv {
  text-align: center;
  padding-top: 1px;
}


/* Like counter text */
#likesP {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: gold;
}

#dislikeMessage {
  color: red;
}


/* Wall of Shame Header */
h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 8px;
}

#wallHeaderDiv {
  text-align: center;
}

#wallHeader {
  width: 300px;
}


/* Wall of Shame List of Memes */
#listDiv {
  text-align: center;
  padding-top: 20px;
}

#helperText {
  font-size: 10px;
}


/* Comments section */

#commentList {
      text-align: center;
      /* background-color: white; */
      /* border-color: gold; */
      /* border-style: solid; */
      font-size: large;
      font-family: Verdana, Arial, Helvetica, sans-serif;
}

#commentList h2 {
  background-color: #444;
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
}

ul {
      padding: 0px;
}
    
li {
      list-style: none;
}
    
nav ul {
      margin-left: 150px;
}
    
nav ul li {
      padding: 5px;
      cursor: pointer;
}
    

/* Caption box section */
#textBox {
  position: absolute;
  z-index: 9;
  /*background-color: #F1F1F1;*/
  /*border: 1px solid #D3D3D3;*/
  text-align: center;
  width: auto;
}
/*#textHead {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff; 
}*/

#textBoxHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: transparent;
  color:#3493d5;
  font-size: 12px 
}


#textarea {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  /* border: 1px dotted rgba(232, 236, 241, .25); */
  /*font: medium -moz-fixed;*/
  /*font: -webkit-small-control;*/
  height: 68px;
  overflow: auto;
  padding: 2px;
  resize: both;
  width: auto;
  color: gold;
  background: transparent;
}

.footer {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

a {
  color:gold;
}

  

/* Stuff that we aren't currently using */

/* 

textarea {
      display: block;
      width: 100%;
      height: 100px;
      border: 1px solid gray;
      padding: 5px;
      font-size: 14px;
      margin-bottom: 10px;
} 
    
.content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #a01d1d;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

nav ul li:hover {
      background-color: greenyellow;
      color: black;
}

*/

    

    

    

    
  