*, *:before, *:after {
  box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: rgb(146, 187, 226);
}

.wrapper {
    max-width: 940px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}

@media screen and (min-width: 500px) {
  /* Helps with grid support */
  .columnA {
    float: left;
    width: 50%;
  }

  .columnB {
    float: right;
    width: 50%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
  }

  .header, .footer {
    grid-column: 1 / -1;
    /* Needed for the floated layout */
    clear: both;
  }
}

.wrapper > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* Needed for the floated layout */
    margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin because grids create gaps */
@supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
}

/* Reference: https://gridbyexample.com/patterns/header-twocol-footer-responsive/*/


/* Not needed when we switch to two columns */
/* main {
  float: left;
  margin-left: 50px;
  width: 600px;
} */

.header {
  font-size: 40px;
  color: gold;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


h1 {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 52px;
      color: #3493d5;
      margin: 10px 0;
      text-align: center;
}

#generateNewBtn {
  text-align: center;
}

/* Meme name and Comments header */
h2 {
    font-size: 25px;
    text-align: center;
}

/* Meme form and Comment form */
form {
  /*width: 450px;
  margin: 0 auto 50px auto;*/
  align-items: center;
  text-align: center;
}

/* Main meme image - the meme wall images are created via Javascript */
img {
  /*display:block;*/
  width: 500px;
  /*margin: 0 auto 25px auto;*/
}

/* Dislike message text and like counter (like counter also has an ID) */
p {
  text-align: center;
}


/* Like, Generate Meme and Dislike buttons */
#buttonDiv {
  text-align: center;
  padding-top: 1px;
}


/* Wall of Shame Header */
h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 8px;
}
 
/* Like counter text */
#likesP {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: gold;
}

#dislikeMessage {
  color: red;
}

/* Wall of Shame List of Memes */
#listDiv {
  text-align: center;
  padding-top: 20px;
}


/* Used by the comments section */

#commentList {
      text-align: center;
      /* background-color: white; */
      /* border-color: gold; */
      /* border-style: solid; */
      font-size: large;
      font-family: Verdana, Arial, Helvetica, sans-serif
}

#commentList h2 {
  background-color: #444;
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
}

ul {
      padding: 0px;
}
    
li {
      list-style: none;
}
    
nav ul {
      margin-left: 150px;
}
    
nav ul li {
      padding: 5px;
      cursor: pointer;
}
    

  

/* Stuff that we aren't currently using */

/* 

textarea {
      display: block;
      width: 100%;
      height: 100px;
      border: 1px solid gray;
      padding: 5px;
      font-size: 14px;
      margin-bottom: 10px;
} 
    
.content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #a01d1d;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

nav ul li:hover {
      background-color: greenyellow;
      color: black;
}

*/

    

    

    

    
  